@page "/"
@namespace BlazorServer.Pages
@using Microsoft.EntityFrameworkCore


@using BlazorServer.Models
@using BlazorServer.Data
@using Blazorise

<PageTitle>RequestsList</PageTitle>

<h1 style="margin-bottom: 20px;">Список заявок</h1>
<Button Color="Color.Primary" Style="margin-bottom: 20px;">Создать заявку</Button>

